@model PaginaNueva.Models.Persona
@{
    Layout = "";
}
@{
    ViewBag.Title = "Details";
}



<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center><h2 class="modal-title">Detalles</h2></center>
        </div>
        <div class="modal-body">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Appaterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Appaterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apmaterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Apmaterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionalidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                <img src="../content/img/personas/@Html.DisplayFor(model => model.Foto)" alt="Smiley face" height="42" width="42">
            </dd>
            <div class="modal-footer">
                <!--button id="Edit-persona-modal" type="button" class="btn btn-warning" data-id="@Model.PersonaId" data-toggle="modal" data-target="#myModal-Edit">Editar</button-->
                <button type="button" class="btn btn-info" id="close-details" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>




